{% extends 'bootstrap.html.twig' %}

{% block title %}Dashboard | Smart Gallery Manager{% endblock %}

{% block body %}
    <div class="container">
        <h1>Smart Gallery Manager</h1>
        <h2>Dashboard</h2>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Files
            <span class="badge badge-primary badge-pill">{{ files_count }}</span>
          </li>
        </ul>
    </div>
{% endblock %}
